<sw-datetime-picker (dateChange)="dateChangeFrom($event)" [datetime]="period.from"></sw-datetime-picker >
<br/>
<sw-datetime-picker (dateChange)="dateChangeTo($event)" [datetime]="period.to"></sw-datetime-picker >
