.sw-date{
    width: 110px; 
    margin-right: 10px;
}
.sw-hours{
    width: 20px; 
    margin-right: 10px;
    background-color: transparent;
}
.sw-minutes{
    width: 20px; 
    margin-right: 10px;
    background-color: transparent;
}
