
<mat-form-field class="sw-date">
  <input (dateChange)="dateChange($event.value)"  matInput [matDatepicker]="startPicker" placeholder="date"  [(ngModel)]="date" >
  <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
  <mat-datepicker #startPicker  [startAt]="date" ></mat-datepicker>
</mat-form-field>
 
<mat-form-field class="sw-hours"> 
<input matInput  maxlength="2" placeholder="hrs"   [(ngModel)]="hours" >
</mat-form-field>
:
<mat-form-field class="sw-minutes"> 
<input matInput  maxlength="2" placeholder="min"   [(ngModel)]="minutes" >
</mat-form-field>

