

<div *ngIf="probe$ | async as probe; else loading" class="form-probe-wrapper">
  

  <form [formGroup]="probeForm" (ngSubmit)="submit()">
    <fieldset class="probe-infos">
    <legend>Probe infos</legend>
  
    <mat-form-field class="form-field" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Probe name" formControlName="name" required>
        <mat-hint>A unique name for the probe.</mat-hint>
    </mat-form-field>
    <show-errors [control]="probeForm.get('name')" [name]="'name'" [submited]="form_submited"></show-errors>  
  
    <mat-form-field class="form-field" appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Probe description" formControlName="description">
        <mat-hint>What is the probe purpose.</mat-hint>
    </mat-form-field>
    <show-errors [control]="probeForm.get('description')" [name]="'description'" [submited]="form_submited"></show-errors>  

    <mat-form-field class="form-field probe-type" appearance="outline" >
      <mat-label>Type</mat-label>
      <mat-select placeholder="Probe type" formControlName="type" required>
        <mat-option value="http">HTTP</mat-option>
        <mat-option value="network">Network</mat-option>
      </mat-select>
      <mat-hint>The type of probe.</mat-hint>
    </mat-form-field>

    <mat-form-field class="form-field probe-interval" appearance="outline">
      <mat-label>Interval</mat-label>
      <input matInput placeholder="10" formControlName="interval">
      <mat-hint>Execution interval in seconds</mat-hint>
    </mat-form-field>


    <mat-form-field class="form-field probe-mode" appearance="outline" >
      <mat-label>Mode</mat-label>
      <mat-select placeholder="Probe mode" formControlName="mode" required>
        <mat-option value="CLUSTER">Cluster</mat-option>
        <mat-option value="AGENT">Agent</mat-option>
      </mat-select>
      <mat-hint>Probe execution strategy.</mat-hint>
    </mat-form-field>


    <mat-radio-group class="state-radio-group"  formControlName="state" >
        <mat-radio-button class="state-radio-button" value="STARTED" class=""> Started</mat-radio-button>
        <mat-radio-button class="state-radio-button" value="PAUSED"  class=""> Paused</mat-radio-button>
    </mat-radio-group>
    
      <show-errors [control]="probeForm.get('type')" [name]="'type'" [submited]="form_submited"></show-errors>
    <show-errors [control]="probeForm.get('interval')" [name]="'interval'" [submited]="form_submited"></show-errors>
    <show-errors [control]="probeForm.get('state')" [name]="'state'" [submited]="form_submited"></show-errors>
  </fieldset>




    <div formGroupName="httpProbeConfig" *ngIf="probeForm.get('type').value =='http' ">

      <fieldset class="probe-http-config">
        <legend>Http config</legend>
        
        <!-- BEGIN: http-probe-request  -->
        <div class="form-row"  formGroupName="request">
          <div style="display: flex; flex-wrap: nowrap;">
          <mat-form-field  appearance="outline"  style="flex: 0 0 auto; margin-right: 20px">
            <mat-label>Method</mat-label>
            <mat-select placeholder="Method" formControlName="verb">
              <mat-option value="GET">GET</mat-option>
              <mat-option value="POST">POST</mat-option>
              <mat-option value="PUT">PUT</mat-option>
              <mat-option value="DELETE">DELETE</mat-option>
              <mat-option value="OPTION">OPTION</mat-option>
              <mat-option value="PATCH">PATCH</mat-option>
            </mat-select>
          </mat-form-field>
      
          <mat-form-field appearance="outline" style="flex: 1 0 auto;"> 
            <mat-label>URL</mat-label>
            <input type="text" class="form-control" matInput formControlName="url" placeholder="URL">
          </mat-form-field>
          </div>

          <div>
            <show-errors [control]="probeForm.get('httpProbeConfig.request.verb')" [name]="'verb'" [submited]="form_submited"></show-errors>
            <show-errors [control]="probeForm.get('httpProbeConfig.request.url')" [name]="'url'" [submited]="form_submited"></show-errors>
          </div>
        </div>

        <!-- BEGIN: Tab-group : http-probe   -->
        <mat-tab-group class="http-tab-group"> 

            <!-- BEGIN: Tab Headers  --> 
            <mat-tab label="Headers"  formGroupName="request" > 

              <div class="kv-form-row header-row" *ngFor="let header of probeForm.get('httpProbeConfig.request.headers').controls; let i=index" [formGroup]="header">
              
                <mat-form-field class="kv-key" appearance="outline">
                  <mat-label>Header name</mat-label>
                  <input matInput type="text" class="form-control" [attr.id]="'header-key-'+i" formControlName="name" placeholder="Key">
                </mat-form-field> : 
              
                <mat-form-field class="kv-value" appearance="outline">
                    <mat-label>Header value</mat-label>
                  <input matInput type="text" class="form-control" [attr.id]="'header-value-'+i" formControlName="value" placeholder="Value">
                </mat-form-field>

                <i class="material-icons" (click)="probeForm.get('httpProbeConfig.request.headers').removeAt(i)">close</i>

              </div>

              
              <button type="button" class="btn btn-link" (click)="probeForm.get('httpProbeConfig.request.headers').push(buildEntry())">Add header</button>
          </mat-tab>  

          <!-- BEGIN: Tab:body  --> 
          <mat-tab label="Body"  formGroupName="request" >  
            <mat-form-field  appearance="outline" class="field-content">
                <textarea matInput  placeholder="Request payload" formControlName="content" ></textarea>
                <mat-hint>HTTP request content body.</mat-hint>
            </mat-form-field>
          </mat-tab>

             <!-- BEGIN: Tab Validation  --> 
        <mat-tab label="Validation"  class="tab-validation" >  
          <mat-form-field formGroupName="request"  appearance="outline" style="margin-right:40px">
              <mat-label for="timeout">Timeout</mat-label>
              <input type="text" matInput class="form-control" id="name" placeholder="30000" formControlName="timeout">
              <mat-hint>Response timeout in ms.</mat-hint>
          </mat-form-field>
          <show-errors [control]="probeForm.get('httpProbeConfig.request.timeout')" [name]="'timeout'" [submited]="form_submited"></show-errors>

          <mat-form-field formGroupName="response"  appearance="outline"> 
              <mat-label>Status code</mat-label>
              <input type="text" matInput class="form-control" id="http_resp_status" placeholder="Exepcted http status code" formControlName="httpCode">
              <mat-hint>Expected Http code.</mat-hint>
          </mat-form-field>
         
          <mat-form-field class="form-field" formGroupName="response"  appearance="outline" style="width:100%"> 
              <mat-label>Keyword</mat-label>
              <input type="text" matInput class="form-control" id="http_resp_keyword" placeholder="Expected keyword" formControlName="keyword">
              <mat-hint>Exepcted word to find in the response.</mat-hint>
          </mat-form-field>
      
        </mat-tab>   <!-- END: http-probe-response  -->
  
      </mat-tab-group>

      </fieldset>
        


      </div>


      <div formGroupName="networkProbeConfig" *ngIf="probeForm.get('type').value =='network' ">


        <fieldset class="network-request" formGroupName="request">
          <!-- BEGIN: http-probe-request  -->
          <legend>Network config</legend>
  
          <div class="form-row">
  
            <mat-form-field appearance="outline" style="width: 150px; margin-right: 8px;">
                <mat-label>Protocol</mat-label>
                <mat-select placeholder="Protocol" formControlName="protocol">
                    <mat-option value="tcp">TCP</mat-option>
                    <mat-option value="udp">UDP</mat-option>
                </mat-select>
            </mat-form-field>
  
            <mat-form-field appearance="outline"  style="margin-right: 8px;"> 
                <mat-label>IP / Host</mat-label>
                <input matInput type="text" class="form-control" id="net_target" placeholder="IP / Hostname" formControlName="target">
            </mat-form-field>
            
            <mat-form-field appearance="outline"  style="width: 150px; margin-right: 8px;"> 
                <mat-label>Port</mat-label>
                <input matInput type="text" class="form-control" id="net_port" placeholder="Port" formControlName="port">
            </mat-form-field>
          
            <mat-form-field appearance="outline"> 
                <mat-label>Timeout</mat-label>
                <input matInput type="text" class="form-control" id="net_port" placeholder="Timout (3000ms)" formControlName="timeout">
            </mat-form-field>
  
            <div>
              <show-errors [control]="probeForm.get('httpProbeConfig.request.target')" [name]="'target'" [submited]="form_submited"></show-errors>
              <show-errors [control]="probeForm.get('httpProbeConfig.request.port')" [name]="'port'" [submited]="form_submited"></show-errors>
            </div>
          </div>
        </fieldset>
      </div>
      

      <fieldset class="probe-label-config">
          <legend>Labels</legend>

      <div class="kv-form-row" *ngFor="let label of probeForm.get('labels').controls; let i=index" [formGroup]="label">

        <mat-form-field class="kv-key" appearance="outline">
          <mat-label>Label</mat-label>
          <input type="text" matInput class="form-control" 
            (focus)="updateAutoCompleteLabelKeys($event.target.value)" 
            (keydown)="updateAutoCompleteLabelKeys($event.target.value)" 
            [attr.id]="'label-key-'+i" formControlName="name" [matAutocomplete]="autoLabelKeys"  placeholder="name">
        </mat-form-field>
        :
        <mat-form-field class="kv-value"  appearance="outline">
          <mat-label>Value</mat-label>
          <input type="text" matInput class="form-control" 
          (focus)="updateAutoCompleteLabelValues(label.value.name, $event.target.value)" 
          (keydown)="updateAutoCompleteLabelValues(label.value?.name, $event.target.value)" 
          [attr.id]="'label-value-'+i" formControlName="value"  [matAutocomplete]="autoLabelValues" placeholder="Value">
        </mat-form-field>

        <i class="material-icons" (click)="probeForm.get('labels').removeAt(i)">close</i>
      </div>


      <mat-autocomplete autoActiveFirstOption #autoLabelKeys="matAutocomplete">
        <mat-option *ngFor="let labelKey of filteredLabelKeys | async"  [value]="labelKey">{{labelKey}}</mat-option>
      </mat-autocomplete>

      <mat-autocomplete autoActiveFirstOption #autoLabelValues="matAutocomplete">
        <mat-option *ngFor="let labelValue of filteredLabelValues | async"  [value]="labelValue">{{labelValue}}</mat-option>
      </mat-autocomplete>


      <div class="form-group row" div class="col-sm-2 col-sm-offset-10">
        <button type="button" class="btn btn-link" (click)="probeForm.get('labels').push(buildEntry())">Add Label</button>
      </div>
      <show-errors [control]="probeForm.get('labels')" [name]="'labels'" [submited]="form_submited"></show-errors>

    </fieldset>

    <button type="reset"  mat-stroked-button color="primary">Cancel</button>

    <button type="submit"  mat-raised-button color="primary">Submit</button>

  </form>

</div>

<ng-template #loading>
  Loading...
</ng-template>