//---------------- GLOBAL CSS --------------------
$color : #3f51b5;

.form-field{
    min-width:100%;
    margin: 10px 0px;
}

// global formulaire wrapper
.form-probe-wrapper{
    min-width: 600px;
    margin: 50px auto;
    width: 800px;
}



fieldset{
    margin: 40px 0px;
    padding: 0px;
    border: none;
    
    legend{
        font-size: 1.8rem;
        margin: 1.3rem 0px;
    }
}


.btn-link{
    color: $color;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    cursor: pointer;
 
}

//---------------- PROBE INFO --------------------

fieldset.probe-infos{
  

    .probe-type{
        min-width: 150px;  
        margin-right: 10px; 
        width: 30%;
    } 


    .probe-mode{
        min-width: 150px;  
        margin-right: 10px; 
        width: 30%;
    } 

    .probe-interval{
        min-width: 150px;  
        width: 30%; 
        margin-left: 10px;
        margin-right: 10px ;
    }
    .mat-radio-button{
        margin: 10px 10px;
    }

}



//---------------- PROBE TYPE CONFIG --------------------

fieldset.probe-http-config{
    margin-top:5rem;

    //
    // HTTP Config tab
    //
    .http-tab-group{
        margin-top: 1.5rem;

        .field-content{
            width: 100%;
            textarea{
                height: 150px;
            }
            
        }

    }
}

//---------------- PROBE LABELS --------------------



//_____________________________________________________















