#search{
        width: 500px;
        margin-right: 20px;
}


#search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ced4da;
    opacity: 1; /* Firefox */
}



.add-btn{
    display: block;
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    font-size: 35px;
    font-weight: 400;
  /*  background-color: #5684FE;
    color: #fff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    text-align: center;
    font-size: 35px;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);*/
    //line-height: 55px;
    cursor: pointer;
}


/*
* Probe type
*/
$probe-type-color: #797979;


.probe-type{
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 0.8rem;
    font-weight: 600;
    color:$probe-type-color
}


/*
* Probe state
*/
$probe-state-sarted-color: #0FC106;
$probe-state-paused-color: #797979;

.probe-state{
    text-transform: uppercase;
    border: solid 1px;
    padding: 5px 10px;
    border-radius: 100px;
    font-size: 0.8rem;
}
.probe-state.STARTED{
    color:$probe-state-sarted-color;
    border-color: $probe-state-sarted-color;
}
.probe-state.PAUSED{
    color:$probe-state-paused-color;
    border-color: $probe-state-paused-color;
}


td.name a{
    text-decoration: none;
    color:#5a6072
}

.link{
    color: #3f51b5;
}
