<div *ngIf="(probes$ | async) as probes; else loading">
    
    <div  *ngIf="probes.length > 0">
      
      <h1>Probes <small>({{probes.length}})</small></h1>
      
      <div>
        <!-- probes table-->
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="al">Name</th>
              <th scope="col" class="ac">Mode</th>
              <th scope="col" class="ac">Type</th>
              <th scope="col" class="ac">State</th>
              <th scope="col" class="ac">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let probe of probes" >
              <td class="al name"><a routerLink="/probes/{{probe.id}}/edit">{{probe.name}}</a>
                  <sw-labels  (selected)="selecteLabel($event)" [labels]="probe.labels"></sw-labels>
              </td>
              <td class="ac"><sw-probe-mode  (selected)="selecteMode($event)" class="clickable" [mode]="probe.mode"></sw-probe-mode></td>
              <td class="ac"><sw-probe-type  (selected)="selecteType($event)" class="clickable" [type]="probe.type"></sw-probe-type></td>
              <td class="ac"><sw-probe-state  (selected)="selecteState($event)" class="clickable"  [state]="probe.state"></sw-probe-state></td>
              <td class="ac" >
                <i class="material-icons clickable" routerLink="/probes/{{probe.id}}/detail" matTooltip="Results">playlist_add_check</i>
                <i class="material-icons clickable" routerLink="/probes/{{probe.id}}/copy" matTooltip="Copy">file_copy</i>
                <i class="material-icons clickable" (click)="onDeleteProbe(probe)" matTooltip="Delete">delete_outline</i>
              </td>
            </tr> 
          </tbody>
        </table>

        <button mat-fab color="primary" class="add-btn" routerLink="/probes/new">+</button>
      </div>

    </div>

    <!-- Case : No probe found-->
    <div *ngIf="probes.length ===0 && isFiltered()" class="global-info-wrapper" >
        <h2>No probes match with the given filters</h2>

        <p class="" style="margin-top:20px;"> 
            You can <span class="clickable link" (click)="resetFilters()">remove filters</span>, or create a new probe 
        </p>
        <button mat-raised-button color="primary"  routerLink="/probes/new">Create probe</button>
    </div>

    <!-- Case : No existing probe-->
    <div *ngIf="probes.length === 0 && !isFiltered()" class="global-info-wrapper" >
        <h2>No probes found</h2>
        <p>Create a new probe</p>
        <button mat-raised-button color="primary"  routerLink="/probes/new">Create probe</button>
    </div>

 
</div>

<ng-template  #loading>
  <div class="loading-page" >
      <mat-spinner></mat-spinner>
  </div>
</ng-template>
