<div *ngIf="nodes$ | async as nodes; else loading">
    

  <div  *ngIf="nodes.length > 0">
    
    <h1>Nodes <small>({{nodes.length}})</small></h1>
    
    <!-- probes table-->
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="al">Name</th>
          <th scope="col" class="ac">Probes count</th>
          <th scope="col" class="ac">Start date</th>
          <th scope="col" class="ac">Mode</th>
          <th scope="col" class="ac">Labels</th>
          <th scope="col" class="ac">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let node of nodes" >
          <td class="al">{{node.node}}</td>
          <td class="ac">{{node.probesCount}}</td>
          <td class="ac"><span class="node-type">{{node.startedAt | date :  'd-M-y, h:mm:ss'}}</span></td>
          <td class="ac"><sw-probe-mode  (selected)="selecteMode($event)" [mode]="node.mode"></sw-probe-mode></td>
          <td class="ac"><sw-labels  (selected)="selecteLabel($event)" [labels]="node.labels"></sw-labels></td>
          <td class="ac">
            <i class="material-icons clickable" (click)="redirectToProbesList(node.labels)" matTooltip="See matching probes">gps_not_fixed</i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div *ngIf="nodes.length === 0" class="global-info-wrapper" >
      <h2>No node found</h2>
  </div>


</div>

<ng-template #loading>
    <div class="loading-page" >
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
