<div *ngIf="(pages$ | async) as pages; else loading">
    
  <div  *ngIf="pages.length > 0">
    
    <h1>Status Pages <small>({{pages.length}})</small></h1>
    
    <div>
      <!-- probes table-->
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="al">Name</th>
            <th scope="col" class="al">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let page of pages" >
            <td class="al name"><a routerLink="/status-pages/{{page.id}}/detail">{{page.name}}</a></td>
            <td class="ac" >
              <i class="material-icons clickable" routerLink="/status-pages/{{page.id}}/edit" matTooltip="Edit status page">edit</i>
              <i class="material-icons clickable" (click)="onDeleteStatusPage(page)" matTooltip="Delete">delete_outline</i>
            </td>
          </tr> 
        </tbody>
      </table>

      <button mat-fab color="primary" class="add-btn" routerLink="/status-pages/new">+</button>
    </div>

  </div>


  <!-- Case : No existing probe-->
  <div *ngIf="pages.length === 0" class="global-info-wrapper" >
      <h2>No status page found</h2>
      <p>Create a new one</p>
      <button mat-raised-button color="primary"  routerLink="/status-pages/new">Create page</button>
  </div>


</div>

<ng-template  #loading>
<div class="loading-page" >
    <mat-spinner></mat-spinner>
</div>
</ng-template>
