td.name a{
    text-decoration: none;
    color:#5a6072
}   

.add-btn{
    display: block;
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    font-size: 35px;
    font-weight: 400;
  /*  background-color: #5684FE;
    color: #fff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    text-align: center;
    font-size: 35px;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);*/
    //line-height: 55px;
    cursor: pointer;
}

