<div>
    <h1 mat-dialog-title>Period selection</h1>
    <div mat-dialog-content>
        <sw-period-picker (changed)="updatePeriod($event)" [from]="data.from" [to]="data.to"></sw-period-picker>
    </div>
  
    <div mat-dialog-actions>
      <button mat-button mat-stroked-button color="primary" (click)="onNoClick()">Cancel</button>
      <button mat-button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Select</button>
    </div>
  </div>
