//---------------- GLOBAL CSS --------------------
$color : #3f51b5;

.form-field{
    min-width:100%;
    margin: 10px 0px;
}

// global formulaire wrapper
.form-status-page-wrapper{
    min-width: 600px;
    margin: 50px auto;
    width: 800px;
}



fieldset{
    margin: 40px 0px;
    padding: 0px;
    border: none;
    
    legend{
        font-size: 1.8rem;
        margin: 1.3rem 0px;
    }
}


.btn-link{
    color: $color;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    cursor: pointer;
 
}




