<div *ngIf="statusPage$ | async as statusPage; else loading" class="form-status-page-wrapper">
  
    <form [formGroup]="statusPageForm" (ngSubmit)="submit()">
      <fieldset class="status-page-infos">
        <legend>Status Page infos</legend>
    
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Status page name" formControlName="name" required>
            <mat-hint>A unique name for the status page.</mat-hint>
        </mat-form-field>
        <show-errors [control]="statusPageForm.get('name')" [name]="'name'" [submited]="form_submited"></show-errors>  
      </fieldset>
  
      <fieldset class="probe-label-config">
        <legend>Labels</legend>
  
        <div class="kv-form-row" *ngFor="let label of statusPageForm.get('labels').controls; let i=index" [formGroup]="label">
  
          <mat-form-field class="kv-key" appearance="outline">
              <mat-label>Label</mat-label>
            <input type="text" matInput class="form-control" [attr.id]="'label-key-'+i" formControlName="name" placeholder="name">
          </mat-form-field>
          :
          <mat-form-field class="kv-value"  appearance="outline">
            <mat-label>Value</mat-label>
            <input type="text" matInput class="form-control" [attr.id]="'label-value-'+i" formControlName="value" placeholder="Value">
          </mat-form-field>
  
          <i class="material-icons" (click)="statusPageForm.get('labels').removeAt(i)">close</i>
        </div>
  
        <div class="form-group row" div class="col-sm-2 col-sm-offset-10">
          <button type="button" class="btn btn-link" (click)="statusPageForm.get('labels').push(buildEntry())">Add Label</button>
        </div>
        <show-errors [control]="statusPageForm.get('labels')" [name]="'labels'" [submited]="form_submited"></show-errors>
  
      </fieldset>
  
      <button type="reset"  mat-stroked-button color="primary">Cancel</button>
  
      <button type="submit"  mat-raised-button color="primary">Submit</button>
  
    </form>
  
  </div>
  
  <ng-template #loading>
    Loading...
  </ng-template>