.card-container{
    display: flex;
    flex-wrap: wrap;
}

.text{
    width: 100%;
}

.config-group{
    right: 100px;
    display: block;
    text-align: right;

}

.parent-group-selector{
    margin: 0 0 0 15px;

}