<div *ngIf="group$ | async as rootGroup; else loading">

  <div *ngIf="rootGroup.groups" >
        <div class="config-group">        
          <mat-form-field appearance="outline" class="parent-group-selector">
              <mat-select placeholder="Group by" [(ngModel)]="label"  (selectionChange)="onGroupChange($event)">
                <mat-option *ngFor="let label of labels" [value]="label.name" >
                  {{label.name}}
                </mat-option>
              </mat-select>
          </mat-form-field>
        </div>


    <div class="group-container">
      <!-- Card container -->
      <div class="col s24 m12 card-container">

        <!-- Probe type level-->
          <sw-card [groupKey]="label" [group]="groupType" *ngFor="let groupType of rootGroup.groups"></sw-card>
      </div>
    </div>
  </div>

  <div *ngIf="!rootGroup.groups" class="global-info-wrapper" >
      <h2>No dashboard result found</h2>
      <p>May be you doesn't have no execution result with label.</p>
      <button mat-raised-button color="primary"  routerLink="/probes">Go to probes</button>

      <p>Or, <b>try a other one</b> : 
        
        <mat-form-field appearance="outline" class="nodata-parent-group-selector">
          <mat-select placeholder="Group by" [(ngModel)]="label"  (selectionChange)="onGroupChange($event)">
            <mat-option *ngFor="let label of labels" [value]="label.name" >
              {{label.name}}
            </mat-option>
          </mat-select>
      </mat-form-field></p>

  </div>

</div>


<ng-template #loading>
    <div class="loading-page" >
        <mat-spinner></mat-spinner>
    </div>
</ng-template>



<!--
--------------------------------------

<div *ngIf="group$ | async as rootGroup;">
  <div *ngFor="let groupLevel0 of rootGroup.groups">
    Level 1 : {{groupLevel0.name}}


    <div *ngFor="let groupLevel1 of groupLevel0.groups">
      Level 2 : {{groupLevel1.name}}
      <div *ngFor="let probeResult of groupLevel1.datas">
        {{probeResult.probe}}
        {{probeResult.status}}
        {{probeResult.date}}
      </div>

    </div>
  </div>
</div>
--------------------------------------
-->


