<div *ngIf="results$ | async as results; else loading">
    
  <div  *ngIf="results.length > 0">
    <h1>Last results <small>({{results.length}})</small></h1>

    <table class="table">
      <thead>
        <tr>
            <th scope="col" class="al">Name</th>
            <th scope="col" class="ac">Type</th>
            <th scope="col" class="ac">Date</th>
            <th scope="col" class="al">Infos</th>
            <th scope="col" class="ac">Status</th>
            <th scope="col" class="ac">Actions</th> 
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let result of results" >
          <td class="al name"><a routerLink="/probes/{{result.probeId}}/detail">{{result.name}}</a>
              <sw-labels  (selected)="selecteLabel($event)" [labels]="result.labels"></sw-labels>
          </td>
          <td class="ac"><sw-probe-type (selected)="selecteType($event)" class="clickable" [type]="result.type"></sw-probe-type></td>
          <td class="ac">{{result.date | date: 'dd MMM, hh:mm:ss'}}</td>
          <td class="al">{{result.infos}}</td>
          <td class="ac"><div class="status-wrapper"><sw-status-icon (selected)="selectStatus($event)" [status]="result.status"></sw-status-icon></div></td>
          <td class="ac"><i class="material-icons clickable" routerLink="/probes/{{result.probeId}}/edit" matTooltip="View probe">edit</i></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div *ngIf="results.length === 0" class="global-info-wrapper" >
      <h2>No execution result found</h2>
      <p>May be you doesn't have a probe or no agent match the probes labels.</p>
      <button mat-raised-button color="primary"  routerLink="/probes">Let's see</button>
  </div>
</div>

<ng-template #loading>
    <div class="loading-page" >
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
