#search{

    width: 500px;
    margin-right: 20px;
}


#search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ced4da;
    opacity: 1; /* Firefox */
}


td.name a{
    text-decoration: none;
    color:#5a6072
}

.status-wrapper{
    width:15px; 
    margin: auto;
    cursor: pointer;
}