<div class="card">
    <div class="card-content">
      <span class="card-title red-text lighten-3">{{group.name}}</span>
      <ul>
          <li class="card-line clickable" (click)="onSelectHome(hostGroup.name)" *ngFor="let hostGroup of group.groups">
              <div class="text"  >{{hostGroup.name}} </div>
              <div class=status><sw-status-icon status="{{hostGroup.status}}"></sw-status-icon></div>
          </li>
      </ul>
    </div>
</div>