$color : #3f51b5;


.card{
    display: block;
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    border-top: solid $color 4px;
    box-sizing: border-box;
    margin: 8px;

    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    width: 260px;
    min-width: 260px;



    .card-title{
        text-align: center;
        font-size: 18px;
        width: 100%;
        display: block;
    }

    .card-content{
        padding: 10px 20px;
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;

        .card-line{
            display: flex;

            font-size: 11px;
            font-weight: 300;
            line-height: 23px;

            .status{
                width:10px;
                margin-top: 6px;
            }

            .text{
                width: 100%;
            }
        }
    }
}


