<h1>Host {{host}}</h1>
         
<div *ngIf="results$ | async as results; else loading">
              
    <table class="table">
        <thead>
          <tr>
              <th scope="col" class="al">Name</th>
              <th scope="col" class="ac">Type</th>
              <th scope="col" class="ac">Date</th>
              <th scope="col" class="al">Infos</th>
              <th scope="col" class="ac">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let result of results" class="clickable" (click)="onSelectResult(result.id)">
            <td class="al" (click)="onSelectProbe(result.id)">{{result.name}}</td>
            <td class="ac"><sw-probe-type [type]="result.type"></sw-probe-type></td>
            <td class="ac">{{result.date | date: 'dd MMM, hh:mm:ss'}}</td>
            <td class="al">{{result.infos}}</td>
            <td class="ac"><div style="width:15px;"><sw-status-icon status="{{result.status}}"></sw-status-icon></div></td>
          </tr>
        </tbody>
      </table>

  </div>
  
  <ng-template #loading>
  Loading...
  </ng-template>
  