.round-button-circle.OK {
    background: #68bf75;
}

.round-button-circle {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    border: 0;
    overflow: hidden;
    background: #eee;
}
.round-button-circle.KO {
    background: #eb5753;
}

.round-button{
    margin: auto
}