<mat-sidenav-container id="sw-main-container" >
     <div  class="sw-navbar">
        <sw-filtering-context ></sw-filtering-context>
     </div>
    <mat-sidenav id="sw-sidenav"  style="position: fixed;" opened mode="side">
        <sw-side-menu ></sw-side-menu>
    </mat-sidenav>


    <div class="sw-main-content">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
