
/*
* Probe state
*/
$probe-state-sarted-color: #0FC106;
$probe-state-paused-color: #797979;

.probe-state{
    text-transform: uppercase;
    border: solid 1px;
    padding: 5px 10px;
    border-radius: 100px;
    font-size: 0.8rem;
}
.probe-state.STARTED{
    color:$probe-state-sarted-color;
    border-color: $probe-state-sarted-color;
}
.probe-state.PAUSED{
    color:$probe-state-paused-color;
    border-color: $probe-state-paused-color;
}