<div *ngIf="statusPageStatus != null && loading; else loading">
    

  <h1>{{statusPageStatus.statusPage.name}}</h1>

  <div *ngIf="statusPageStatus.probes?.length > 0">
    <!-- probes table-->
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="ac">Status</th>  
          <th scope="col" class="al">Last 7days</th>
          <th scope="col" class="ac">State</th>
          <th scope="col" class="al">Name</th>
          <th scope="col" class="ac">Type</th>
          <td scope="col" class="al name" *ngFor="let bucket of statusPageStatus.availabilities.buckets" >{{bucket.ratio}} % </td>  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let probe of statusPageStatus.probes" >
            <td class="al name">
              <div class="status-wrapper">     
              <sw-status-icon  *ngIf="getProbeResult(probe.id)" status="{{getProbeResult(probe.id).status }}"></sw-status-icon>
                <sw-status-icon  *ngIf="!getProbeResult(probe.id)" status=""></sw-status-icon>
              </div>
            </td>
          <td class="al name">{{getProbeAvailability(probe.id).ratio}}  %</td>
          <td class="ac"><sw-probe-state  (selected)="selecteState($event)" class="clickable"  [state]="probe.state"></sw-probe-state></td>
          <td class="al name">{{probe.name}} </td>  
          <td class="ac"><sw-probe-type  (selected)="selecteType($event)" class="clickable" [type]="probe.type"></sw-probe-type></td>
          <td class="ac ratio" *ngFor="let bucket of getProbeAvailability(probe.id).buckets" >{{bucket.ratio}} % </td>  
        </tr> 
      </tbody>  
    </table>
  </div>

  <div *ngIf="statusPageStatus.probes?.length == 0">
    No probes status found
  </div>


</div>

<ng-template  #loading>
  <div class="loading-page" >
      <mat-spinner></mat-spinner>
  </div>
</ng-template>
