.table.events{
    tbody{
        tr{
            td{
                padding: 10px;
            }

            td.status{
                width:20px;
            }

            td.date{
                width:200px;
            }
        }
    }
}