
<div *ngIf="events$ | async as events; else loading">
  
    <div  *ngIf="events.length > 0">
        <table class="table events">
            <thead>
              <tr>
                <th scope="col" class="ac status">Status</th>
                <th scope="col" class="ac date">Date</th>
                <th scope="col" class="ac">Duration</th>
                <th scope="col" class="al">Reason</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let event of events" >
                <td class="ac status"><sw-event-status-display [status]="event.status"></sw-event-status-display></td>
                <td class="ac date"><span class="node-type">{{event.start | date :  'd-M-y, h:mm:ss'}}</span></td>
                <td class="ac"><span class="node-type"><sw-duration-display [duration]="event.duration"></sw-duration-display></span></td>
                <td class="al">{{event.reason}}</td>
              </tr>
            </tbody>
          </table>
    
    </div>
    <div  *ngIf="events.length == 0">
        No event found
    </div>
</div>


<ng-template #loading>
    <div class="loading-page" >
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
