.OK{
    color: #0FC106;
    border-color: #0FC106;
}


.KO{
    color: #da2f37;
    border-color: #da2f37;
}
.PAUSED{
    color: #797979;
    border-color: #797979;
}

.label{
    text-transform: uppercase;
    border: solid 1px;
    padding: 5px 10px;
    border-radius: 100px;
    font-size: 0.8rem;
}