<div *ngIf="label else loadinglabels">
    <h1 mat-dialog-title>Add label filter</h1>
    <div mat-dialog-content>
  
      <mat-form-field>
        <mat-select placeholder="Label"  [(ngModel)]="data.label" (selectionChange)="onLabelChange($event)">
          <mat-option *ngFor="let label of labels" [value]="label.name" >
            {{label.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      :
      <mat-form-field>
        <mat-select placeholder="Value" [(ngModel)]="data.value">
          <mat-option *ngFor="let value of label.values" [value]="value" >
            {{value}}
          </mat-option>
        </mat-select>
  
      </mat-form-field>
    </div>
  
    <div mat-dialog-actions>
      <button mat-button mat-stroked-button color="primary" (click)="onNoClick()">Cancel</button>
      <button mat-button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Add</button>
    </div>
  </div>
  
  <ng-template #loadinglabels>
    Loading...
  </ng-template>
  