<div>
    <h1 mat-dialog-title>Confirmation required</h1>
    <div mat-dialog-content>
        You are going to remove <span class="entity-name">{{data.entity}}</span> Are you ABSOLUTELY sure?

        <p>
        This action can lead to data loss. To prevent accidental actions we ask you to confirm your intention. 
        </p>
    </div>
  
    <div mat-dialog-actions>
      <button mat-button mat-stroked-button color="primary" (click)="onNoClick()">Cancel</button>
      <button mat-button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Remove</button>
    </div>
  </div>
