$color : #3f51b5;

.sw-label{
    border-radius: 25px;
    border: 1px solid $color;
    padding: 5px 8px;
    min-width: 40px;
    font-size: 0.8rem;
    color: $color;
    font-weight: 500;
    display: inline-block;
    margin: auto 4px;
}

.sw-labels{
    margin: 5px;
    display: inline-block;
}