<!---div class="sw-labels">
  <span class="sw-label clickable" (click)="select(label)" *ngFor="let label of labels | keyvalue">
    {{label.key}}:{{label.value}}
  </span>
</div-->



<div class="sw-labels">
    <span  *ngFor="let label of labels | keyvalue">


        <span  class="sw-label clickable" (click)="select(label.key, value)" *ngFor="let value of asArray(label.value)">
            {{label.key}}:{{value}}
          </span>
    </span>
  </div>