/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import url('//fonts.googleapis.com/css?family=Barlow+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@include mat-core();



$primary: mat-palette($mat-indigo, 500);
$accent:  mat-palette($mat-indigo, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$config: mat-typography-config();


$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: mat-font-family($config);
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  
}

h1, h2, h3, h4 {
  font-weight: normal;
}

/*______ G___________________*/

#sw-main-container{
    min-height: 100vh;
    background-color:#F7F8FC;
    
    .sw-main-content{

      width: 100%;
      padding: 20px 80px;
      box-sizing: border-box;
    }
}
//--------------------------------
// Key / value formulaire config
//--------------------------------
.kv-form-row{
  .kv-key,
  .kv-value
  {
    min-width: 150px;  
    width: 30%; 
    margin-left:  10px;
    margin-right:  10px;
    min-width:45%;
  }
  .kv-key{
    margin-left: 0;
  }
  .kv-value{
    margin-right: 0;
  }

    .mat-form-field {

      margin: 0px 10px;
      padding-bottom: 5px;
    
      .mat-form-field-wrapper {
        margin: 0px;
        padding-bottom: 5px;
    
        .mat-form-field-subscript-wrapper{
          display:none;
        }
      }
  }



 

}

//----------- GLOBAL FORMS ---------------------
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em 0 0.9em 0;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0.8em 0;
}


//---------- TAB COMPONENT ----------------------


.mat-tab-body-wrapper{
  margin: 20px 0;
}


//------------------------------------
ul.alert{
  color: #f44336;
  margin: 0 0 20px 0;
  padding: 0 0 0 0px
}

//______________________________________

table{
  //border-collapse:  collapse;
  border-collapse:separate; 
  border-spacing: 0 1em;
  max-width: 100%;
}
.table{
  color: #5a6072;
  background-color: transparent;

  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1rem;
}

.table tbody tr {
  background-color: #FFFFFF;
  margin: 4px;
  height: 70px;
}

.table tbody tr td,
.table thead tr th{
  padding: 20px;
}

.table thead tr th{
  padding-bottom: 0px;
}

.global-info-wrapper{
  width: 400px;
  padding: 0;
  margin: 30vh auto;
  text-align: center;  
}

.al{
  text-align: left;
}
.ac{
  text-align: center;
}

.clickable{
  cursor: pointer;
}

.mat-sidenav{
  border:none;
}

.loading-page{
  min-height: 100vh; 
  min-width: 100%;

  mat-spinner{
    top:50vh; 
    margin:-150px auto 0 auto
  }
}


input:focus {
  outline-width: 0;
}