<div class="filtering-context">
  <span class="title">Search context</span>
 
  <i  class="material-icons filter clickable" (click)="openAddFilterDialog()">filter_list</i>
  <i  class="material-icons search clickable " (click)="searchSelect()">search</i>

  <input matInput placeholder="Search" [(ngModel)]="query" (keydown.enter)="updateQuery()">


  <!-- filter list-->
  <mat-chip-list *ngIf="filters.length > 0">
    <mat-chip [removable]="true" (removed)="removeFilter(filter)" color="primary" selected *ngFor="let filter of filters">
      {{filter.key}}:{{filter.value}}
      <mat-icon matChipRemove >cancel</mat-icon>
    </mat-chip> 
  </mat-chip-list>

</div>

