.filtering-context{
    background-color: white;
    padding: 0px 20px 0 20px;
    margin: 0px 0;
    min-height: 70px;
    box-sizing: border-box;

    .title{
        display: none;
        font-weight: 400;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    mat-form-field {
        width: 300px;
        box-sizing: border-box;
    }

    .form-field{
       // display: none;
       //float:left;
    }

    input{
        width: 500px;
        height: 40px;
        top: 18px;
        position: absolute;
        border: none;
        border-bottom: solid lightgray 1px;
        font-size: 1rem
    }


    .material-icons.search,
    .material-icons.filter,
    {
        margin: 20px 10px;
        font-size: 2.2rem;
        color:#9faabd; 
    }

    mat-chip-list{
        margin: -5px 0px 10px 15px;
        padding-bottom: 10px;
        margin: 0 0 0px 20px;
        padding: 0 0 5px 0;
    }


}