<!-- Sidebar -->
<div id="sidebar-menu-container" class="sidebar-container menu">

  <div class="logo">

    <a href="/">
        <img  width="50" src="../../assets/suriwatch.png">
    </a>
  </div>

  <!-- Bootstrap List Group -->
  <ul class="list-group">
    <!-- Separator with title -->

    <li routerLink="/probes"  [queryParams]='searchParams'  routerLinkActive="active"  class="list-group-item">
        <i class="material-icons">gps_not_fixed </i>
        PROBES
    </li>

    <li routerLink="/results/last" [queryParams]='searchParams'  routerLinkActive="active"  class="list-group-item">
        <i class="material-icons">playlist_add_check</i>
        RESULTS 
    </li>

    <li routerLink="/dashboards"  [queryParams]='searchParams'  routerLinkActive="active"  class="list-group-item">
        <i class="material-icons">remove_from_queue</i>
        BOARD
    </li>
    <li routerLink="/status-pages"  [queryParams]='searchParams'  routerLinkActive="active"  class="list-group-item">
        <i class="material-icons">assignment</i>
        STATUS PAGES
    </li>

    <li routerLink="/nodes" [queryParams]='searchParams'  routerLinkActive="active"  class="list-group-item">
      <i class="material-icons">dns</i>
      NODES 
  </li>
  </ul>
</div>


