$color : #3f51b5;

.sidebar-container {
    min-height: 100vh;   
    height: 100%;
    padding: 0;
    li.list-group-item {
        border: none;
        background-color: transparent;
    }
}


/* Menu item*/
#sidebar-menu-container{

    background-color: #FFF;
    border-right: solid #F7F8FC  3px;
    
    .logo{

        min-height: 70px;
        color: $color;
        font-size: 2rem;
        font-family: 'Barlow Condensed', sans-serif;
        text-align: center;
        padding: 20px 0 40px 0;
        font-weight: 500;
        a{
            text-decoration: none;
            color: $color;
        }
    }

    width:90px;

    ul{
        margin-top: 20px;
        list-style: none;
        padding: 0px;
    }

    li.list-group-item {
        border: none;
        background-color: transparent;
        font-size: 0.8rem;
        padding:15px;
        color: #9faabd;
        text-align: center;
        padding-top:20px;
        margin: 20px 0;
        cursor: pointer;
        border-radius: 0;
        i.material-icons{
            font-size:2.0rem
        }

    }
    li:focus{
        outline: none
    }
    li.list-group-item.active {
        color: #3f51b5;
        border-right: solid $color 4px;

        
    }

    //box-shadow: 5px 0px 20px 0px #efefef;
    
}
