<h1>
  <a *ngIf="probe" href="probes/{{probe.id}}/edit">{{probeName}}</a>
  <span *ngIf="!probe">{{probeName}}</span>
</h1> 



<div *ngIf="nodesHisto$ | async as nodesHisto">
      <mat-form-field appearance="outline" class="parent-group-selector">
          <mat-select placeholder="Node" [(ngModel)]="nodeHisto"  (selectionChange)="onNodeHistoChange(events)">
            <mat-option value="null" selected >all nodes</mat-option>
            <mat-option *ngFor="let nodeHisto of nodesHisto" [value]="nodeHisto" >
              {{nodeHisto.name}}
            </mat-option>
          </mat-select>
      </mat-form-field>

  <mat-form-field appearance="outline" style="cursor: pointer;">
      <mat-select placeholder="Period" [(ngModel)]="period"  (selectionChange)="onPeriodChange($event.value)">
          <mat-option *ngFor="let period of periods" [value]="period" >
            {{period.name}}
          </mat-option>
          <mat-option *ngIf="customPeriod" [value]="customPeriod">{{customPeriod.name}}</mat-option> 
          <mat-option [value]="customPeriodOption">custom</mat-option>
        </mat-select>
      <mat-icon matSuffix>date_range</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="parent-group-selector">
      <mat-select placeholder="Interval" [(ngModel)]="interval"  (selectionChange)="onNodeHistoChange(events)">
        <mat-option *ngFor="let interval of intervals" [value]="interval" >
          {{interval}}
        </mat-option>
      </mat-select>
  </mat-form-field>
</div>



<div class="grp-stats">
    <h2>Status Histogram</h2>
    <sw-status-chart [histogram]="histogram"></sw-status-chart>
</div>

<div class="grp-stats" *ngIf="showResponseTime">
    <h2>Response time</h2>
    <sw-response-time-chart [histogram]="histogram"></sw-response-time-chart>
</div>
<div class="grp-stats" >
    <h2>Last events</h2>
    <sw-events-view [period]="period" [probeId]="probeId"></sw-events-view>
</div>

